body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1549px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:124px;
  width:375px;
  height:812px;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:96px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1549px;
  height:96px;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:21px;
  width:453px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  white-space:nowrap;
}
#u369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:244px;
  width:20px;
  height:20px;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:5px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:253px;
  width:77px;
  height:2px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:238px;
  width:401px;
  height:140px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:870px;
  width:20px;
  height:20px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:67px;
  height:5px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:879px;
  width:64px;
  height:2px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:871px;
  width:151px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:164px;
  width:20px;
  height:20px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:265px;
  height:5px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:173px;
  width:262px;
  height:2px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:158px;
  width:201px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:860px;
  width:70px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u379 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:860px;
  width:70px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u380 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:860px;
  width:70px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u381 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:233px;
  width:375px;
  height:228px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u382 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:173px;
  width:82px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u383 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:173px;
  width:82px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
